<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Content Administration
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid no-padding>
    <ion-row no-padding>
      <!-- Desktop Search Sidebar -->
      <ion-col class="st-search-sidebar-col st-visible-lg-up" size-sm="3">
        <app-step-searching></app-step-searching>
      </ion-col>
      <!-- Search Results List -->
      <ion-col>
        Content Administration
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>