<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Tags Administration
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid no-padding fixed>
    <ion-row no-padding>
      <ion-col no-padding>
        <ion-list>
          <ion-item [routerLink]="'/tags-administration/area-tags'" detail><ion-label>Manage Area Tags</ion-label></ion-item>
          <ion-item [routerLink]="'/tags-administration/action-tags'" detail><ion-label>Manage Action Tags</ion-label></ion-item>
          <ion-item [routerLink]="'/tags-administration/object-tags'" detail><ion-label>Manage Action Object Tags</ion-label></ion-item>
          <ion-item  [routerLink]="'/tags-administration/condition-tags'"detail><ion-label>Manage Conditions Tags</ion-label></ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>