<ion-header>
  <ion-toolbar class="st-color-bg-dark-blue">
    <ion-buttons slot="start">
      <ion-button [routerLink]="'/knowledge-base'">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      {{appVars.pageTitle}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid fixed>
    <ion-row>
      <ion-col>Selected article</ion-col>
    </ion-row>
    <ion-row *ngIf="contentItem" class="ion-margin-bottom">
      <ion-col>
        <strong>{{contentItem.areaName}}<span style="color:#9e9e9e;">&nbsp;>&nbsp;</span></strong>
        <strong>{{contentItem.actionName}}<span style="color:#9e9e9e;">&nbsp;>&nbsp;</span></strong>
        <strong>{{contentItem.objectName}}</strong>
        <strong *ngIf="contentItem.conditions.length > 0"><span style="color:#9e9e9e;">&nbsp;>&nbsp;</span></strong>
        <strong *ngFor="let condition of contentItem.conditions; let m = index">{{condition.conditionName}}<span
            *ngIf="m < contentItem.conditions.length - 1">,&nbsp;</span>
        </strong>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>Article Content</ion-col>
    </ion-row>
    <ion-row *ngIf="contentItem">
      <ion-col>
        <div [innerHTML]="htmlContentToShow | sanitizeHtml"></div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>