<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Knowledge Base
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid no-padding>
    <ion-row no-padding>
      <!-- Desktop Search Sidebar -->
      <ion-col class="st-search-sidebar-col st-visible-lg-up" size-sm="3">
        <app-step-searching></app-step-searching>  
      </ion-col>
      <!-- Search Results List -->
      <ion-col>
        <div [ngSwitch]="appVars.viewState">
          <ion-list *ngSwitchCase="appVars.viewStateEnums.listExist">
            <ion-item *ngFor="let item of itemsArrayList">adfa {{item.name}}</ion-item>
          </ion-list>
          <p *ngSwitchCase="appVars.viewStateEnums.isLoading">Loading...</p>
          <p *ngSwitchCase="appVars.viewStateEnums.listEmpty">Nothing to show</p>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>