<ion-grid>
  <ion-row>
    <ion-col text-center>
      <div class="st-has-illustration ion-padding-vertical">
        <img src="../../../assets/images/illustration-search.png" alt="Search - Illustration">
      </div>
      <h4>Welcome to the Help section.</h4>
      <p>Use Quick Search and in just a few easy steps find the desired content.</p>
      <ion-button expand="block ion-hide-lg-up" (click)="callInitialQuickSearchModal()">
        Quick Search
      </ion-button>
    </ion-col>
  </ion-row>
</ion-grid>