<ion-grid no-padding>
  <ion-row>
    <ion-col>
      <p>Find what you need in just a few easy steps.</p>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-list>
        <!-- aadfafdaf -->
        <ion-item class="ion-margin-bottom">
          <ion-label position="stacked">Area of interest</ion-label>
          <ion-select placeholder="Select One">
            <ion-select-option value="stfmls">ShowingTime for MLS</ion-select-option>
            <ion-select-option value="stapptc">ShowingTime Appointment Center</ion-select-option>
            <ion-select-option value="stfd">ShowingTime Front Desk</ion-select-option>
            <ion-select-option value="mvb">MarketView Broker</ion-select-option>
            <ion-select-option value="mhbst">My Home by ShowingTime</ion-select-option>
          </ion-select>
        </ion-item>
        <!-- aadfafdaf -->
        <ion-item class="ion-margin-bottom">
          <ion-label position="stacked">Desired action</ion-label>
          <ion-select placeholder="Select One">
            <ion-select-option value="delete">Delete</ion-select-option>
            <ion-select-option value="edit">Edit</ion-select-option>
            <ion-select-option value="archive">Archive</ion-select-option>
            <ion-select-option value="create">Create</ion-select-option>
            <ion-select-option value="add">Add</ion-select-option>
          </ion-select>
        </ion-item>
        <!-- aadfafdaf -->
        <ion-item class="ion-margin-bottom">
          <ion-label position="stacked">Object</ion-label>
          <ion-select placeholder="Select One">
            <ion-select-option value="f">Female</ion-select-option>
            <ion-select-option value="m">Male</ion-select-option>
          </ion-select>
        </ion-item>
        <!-- aadfafdaf -->
        <ion-item class="ion-margin-bottom">
          <ion-label position="stacked">Condition</ion-label>
          <ion-select placeholder="Select One">
            <ion-select-option value="f">Female</ion-select-option>
            <ion-select-option value="m">Male</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-list>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-button expand="block" color="primary">Search</ion-button>
    </ion-col>
  </ion-row>
  <ion-row>
      <ion-col>
        <ion-button fill="clear" expand="block" color="medium">Clear All</ion-button>
      </ion-col>
    </ion-row>  
</ion-grid>