<ion-grid no-padding>
  <ion-row no-padding class="ion-hide-md-down">
    <ion-col no-padding>
      <div class="st-quick-search-title">Quick Search</div>
    </ion-col>
  </ion-row>
  <ion-row no-padding class="st-m-b-8">
    <ion-col>
      <ion-item>
        <ion-label position="stacked">Area of interest</ion-label>
        <ion-select placeholder="All Areas" [(ngModel)]="form.area.selected" (ionChange)="anySelectChanged()" [disabled]="form.area.optionsToShow.length == 0">
          <ion-select-option [value]="null">All Areas</ion-select-option>
          <ion-select-option *ngFor="let areaItem of form.area.optionsToShow" [value]="areaItem">{{areaItem.name}}
          </ion-select-option>
        </ion-select>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row no-padding class="st-m-b-8">
    <ion-col>
      <ion-item>
        <ion-label position="stacked">Your action</ion-label>
        <ion-select placeholder="All Actions" [(ngModel)]="form.action.selected" (ionChange)="anySelectChanged()" [disabled]="form.action.optionsToShow.length == 0">
          <ion-select-option [value]="null">All Actions</ion-select-option>
          <ion-select-option *ngFor="let actionItem of form.action.optionsToShow" [value]="actionItem">
            {{actionItem.name}}
          </ion-select-option>
        </ion-select>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row no-padding class="st-m-b-8">
    <ion-col>
      <ion-item>
        <ion-label position="stacked">Object</ion-label>
        <ion-select placeholder="All Objects" [(ngModel)]="form.object.selected" (ionChange)="anySelectChanged()" [disabled]="form.object.optionsToShow.length == 0">
          <ion-select-option [value]="null">All Objects</ion-select-option>
          <ion-select-option *ngFor="let objectItem of form.object.optionsToShow" [value]="objectItem">
            {{objectItem.name}}
          </ion-select-option>
        </ion-select>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row no-padding class="ion-hide-md-down">
    <ion-col>
      <ion-item>
        <ion-label><small>Refresh on each select</small></ion-label>
        <ion-toggle [(ngModel)]="form.refreshToggle.state"></ion-toggle>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col text-right><ion-text color="medium"><small>*All fields are optional</small></ion-text></ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <!-- <ion-button expand="block" color="primary" (click)="callApi()">Search</ion-button> -->
      <ion-button expand="block" color="primary" (click)="callMultiParamsApiGet()">Search</ion-button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-button fill="clear" expand="block" color="medium" (click)="clearAllSelection()">Clear All</ion-button>
    </ion-col>
  </ion-row>
</ion-grid>