<ion-grid no-padding>
  <ion-row>
    <ion-col>
      <ion-text>
          <h5>QUICK SEARCH</h5>
      </ion-text>
    </ion-col>
  </ion-row>
  <ion-row no-padding class="ion-margin-bottom">
    <ion-col>
      <ion-item>
        <ion-label position="stacked">Area of interest</ion-label>
        <ion-select placeholder="All Areas" [(ngModel)]="form.area.selected" (ionChange)="anySelectChanged()">
          <ion-select-option [value]="null">All Areas</ion-select-option>
          <ion-select-option *ngFor="let areaItem of form.area.options" [value]="areaItem">{{areaItem.name}}
          </ion-select-option>
        </ion-select>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row no-padding class="ion-margin-bottom">
    <ion-col>
      <ion-item>
        <ion-label position="stacked">Your action</ion-label>
        <ion-select placeholder="All Actions" [(ngModel)]="form.action.selected" (ionChange)="anySelectChanged()">
          <ion-select-option [value]="null">All Actions</ion-select-option>
          <ion-select-option *ngFor="let actionItem of form.action.options" [value]="actionItem">
            {{actionItem.name}}
          </ion-select-option>
        </ion-select>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row no-padding class="ion-margin-bottom">
    <ion-col>
      <ion-item>
        <ion-label position="stacked">Object</ion-label>
        <ion-select placeholder="All Objects" [(ngModel)]="form.object.selected" (ionChange)="anySelectChanged()">
          <ion-select-option [value]="null">All Objects</ion-select-option>
          <ion-select-option *ngFor="let objectItem of form.object.options" [value]="objectItem">
            {{objectItem.name}}
          </ion-select-option>
        </ion-select>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row no-padding class="ion-margin-bottom">
    <ion-col>
      <ion-item>
        <ion-label><small>Refresh on each select</small></ion-label>
        <ion-toggle [(ngModel)]="form.refreshToggle.state"></ion-toggle>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <!-- <ion-button expand="block" color="primary" (click)="callApi()">Search</ion-button> -->
      <ion-button expand="block" color="primary" (click)="callMultiParamsApiGet()">Search</ion-button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-button fill="clear" expand="block" color="medium" (click)="clearAllSelection()">Clear All</ion-button>
    </ion-col>
  </ion-row>
</ion-grid>