<ion-header>
  <ion-toolbar color="dark">
    <ion-title>
      Edit Tag
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid no-padding fixed>
    <ion-row no-padding>
      <ion-col no-padding>
        <ion-list>
          <ion-item>
            <ion-label position="stacked">Tag Name</ion-label>
            <ion-input [(ngModel)]="formName"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Tag Description</ion-label>
            <ion-textarea rows="6" cols="20" [(ngModel)]="formDescription"></ion-textarea>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-grid no-padding fixed>
      <ion-row no-padding>
        <ion-col>
          <ion-button color="medium" expand="block" (click)="cancelChanges()">Cancel</ion-button>
        </ion-col>
        <ion-col>
          <ion-button expand="block" (click)="saveChanges()">Save</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>