/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";


/** COLORS **/
.st-color-bg-dark-blue {
    --background: var(--st-color-bg-dark-blue, #000640);
    --color: var(--st-color-white, #fff);
    ion-icon{
        --color: var(--st-color-white, #fff);
        color: var(--st-color-white, #fff);
    }
    ion-menu-button{
        --color: var(--st-color-white, #fff);
    }
}

.st-visible-lg-up {
    display: none;

    @media screen and (min-width:992px) {
        display: inline;
    }
}

.st-search-sidebar-col {
    border-right: 1px solid #f2f2f2;
}

.st-item-as-button {
    cursor: pointer;

    &:hover {
        --background: #f2f2f2;
    }
}

.st-slide-wrapper {
    min-width: 280px;
    width: 100%;
    display: block;
    box-sizing: border-box;
    position: relative;
    padding: 0 15px 20px;

    p {
        font-size: 16px;
        line-height: 1.4;
    }

    &:after {
        content: " ";
        display: table;
        clear: both;
    }

    .st-has-example-text {
        padding: 20px 15px;
        background-color: #f2f2f2;
        font-style: italic;

        >span {
            text-decoration: underline;
        }
    }

    .st-search-tutorial-illustration-wrapper {
        margin-top: 20px;

        .st-has-title {
            display: none;
        }
    }
}

.st-always-full-modal {
    --height: 100%;
    --width: 100%;
}

.st-font-15 {
    font-size: 15px;
}

.st-responsive-item {
    font-size: 13px;

    @media (min-width: 768px) {
        font-size: 14px;
    }

    @media (min-width: 992px) {
        font-size: 15px;
    }
}

.st-nothing-to-show-wrapper {
    display: block;
    text-align: center;
    margin: 20px auto;
}

ion-alert {
    --height: auto;
    --max-height: 100%;
    --width: 95% !important;
    --max-width: 100% !important;

    @media (max-width: 576px) {
        .alert-radio-group {
            .alert-radio-button {
                font-size: 14px;

                .alert-button-inner {
                    .alert-radio-label {
                        padding-left: 34px;
                    }
                }
            }
        }
    }

    @media (min-width: 576px) {
        --width: 60% !important;
    }

    @media (min-width: 768px) {
        --width: 480px !important;
        --max-width: 480px !important;
    }
}

.cke_contents{
    height: 600px !important;
    @media (min-width: 576px) {
        height: 700px !important;        
    }
}